* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(#232323 1px, transparent 1px);
  background-size: 20px 20px;
  background-color: #131313;
  color: #b8b8b8;
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
