.header {
  width: 100%;
  padding: 2rem 12rem;

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid #666666;

    .contactContainer {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 2rem;

      .cvContainer {
        width: 6rem;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #303030;
        border-radius: 2rem;

        a {
          text-decoration: none;
        }

        .cvBtn {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          width: 100%;
          background: none;
          border: none;
          cursor: pointer;
          color: #666666;
          transition: color 0.3s ease, transform 0.3s ease;

          &:hover {
            color: white;
          }
        }
      }
    }

    .emailContainer {
      width: 22rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1.5rem;
      background-color: #303030;
      border-radius: 2rem;

      .copyBtn {
        background-color: #131313;
        color: #666666;
        width: 6rem;
        height: 40px;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #252525;
        cursor: pointer;
        transition: color 0.3s ease, transform 0.3s ease;

        &:hover {
          color: white;
        }

        .copy {
          font-size: 0.75rem;
        }
      }

      .gmail {
        color: #666666;
        padding-left: 2.75rem;
      }

      .gmailCopy {
        color: #fff;
        padding-left: 5.75rem;
      }
    }

    .socialContainer {
      a {
        text-decoration: none;
        color: #666666;
        padding: 1rem;
        transition: color 0.3s ease, transform 0.3s ease;

        &:hover {
          color: white;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .header {
    padding: 1rem;
    .container {
      border: none;
      align-items: center;
      justify-content: center;

      .emailContainer {
        width: 17rem;
        gap: 1rem;
        .copyBtn {
          width: 3.5rem;
        }

        .gmail {
          padding-left: 1.5rem;
        }

        .gmailCopy {
          padding-left: 3.5rem;
        }
      }

      .contactContainer {
        flex-direction: row;
        gap: 1rem;
      }
    }
  }

  .socialContainer {
    display: none;
  }
}
